version: '3.8'

services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_DB: supplychainx_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-user.sql:/docker-entrypoint-initdb.d/init-user.sql # <--- this line allow us to create the db for the sonarqube user
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - supplychainx-network

    # --- ELK Stack Services ---
  elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
      container_name: elasticsearch
      environment:
        - discovery.type=single-node
        - xpack.security.enabled=false
        - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      ports:
        - "9200:9200"
      deploy:
        resources:
          limits:
            memory: 1G
      networks:
        - supplychainx-network

  logstash:
      image: docker.elastic.co/logstash/logstash:8.11.1
      container_name: logstash
      ports:
        - "5000:5000"
        - "9600:9600"
      volumes:
        - ./elk-pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      depends_on:
        - elasticsearch
      deploy:
        resources:
          limits:
            memory: 1G
      networks:
        - supplychainx-network

  kibana:
      image: docker.elastic.co/kibana/kibana:8.11.1
      container_name: kibana
      environment:
        - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      ports:
        - "5601:5601"
      depends_on:
        - elasticsearch
      deploy:
        resources:
          limits:
            memory: 1G
      networks:
        - supplychainx-network


  #end of elastic stack configuration

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres_db
    networks:
      - supplychainx-network

  supplychainx_app:
    build: .
    container_name: supplychainx_app
    depends_on:
      postgres_db:
        condition: service_healthy
      logstash:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres_db:5432/supplychainx_db
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - LOGSTASH_HOST=logstash
    ports:
      - "8080:8080"
    restart: on-failure
    networks:
      - supplychainx-network

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube_server
    ports:
      - "9000:9000"
    depends_on:
      postgres_db:
        condition: service_healthy
    environment:
      # Database connection settings for SonarQube's internal data
      # NOTE: You MUST ensure this database (sonarqube_db) and user (sonar_user) exist in your Postgres instance.
      SONAR_JDBC_URL: jdbc:postgresql://postgres_db:5432/sonarqube_db
      SONAR_JDBC_USERNAME: sonar_user
      SONAR_JDBC_PASSWORD: sonar_password_secret # Change this password!
      # Necessary parameter for Docker environments to bypass bootstrap checks on low-resource machines
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    networks:
      - supplychainx-network
    # Required JVM settings for Elasticsearch which runs inside SonarQube
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
      memlock:
        soft: -1
        hard: -1


volumes:
  postgres_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:

networks:
  supplychainx-network:
    driver: bridge
